.main{
    padding:20px;
}
.home_dark{
    background-color: #202020;
}
@media (min-width:765px){
 
    .main{
        padding:2rem 20px;
    }
}
@media (min-width:1201px){
    .main{
        padding:2rem 15%;
    }

}